body {
   background-image: url(pizza.jpg);
    background-size: cover;
    position: absolute;
    background-position: center center;
    width: 100%;
    margin: 0px;
   
}

video {
    position: absolute;
    left: 40%;
    top: 20px;
    width: 400px;
}


#pug {
    background-image: url(pugs.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: 70px 30px;
    height: 130px;
}

#home {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    top: 115px;
    left: 95px;
    position: absolute;
}


#eating {
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    top: 55px;
    left: 170px;
    position: absolute;
}



.column1 {
    background-color: gray;
    height: 50px;
    width: 130px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -30px;
    top: 80px;
    z-index: 6000;
    border: solid white;
}



.column2 {
    background-color: gray;
    height: 50px;
    width: 130px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -30px;
    top: 150px;
    z-index: 5000;
    border: solid white;
   
}

.column3 {
    background-color: gray;
    height: 50px;
    width: 130px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -30px;
    top: 220px;
    z-index: 4000;
    border: solid white;
   
}

.column4 {
    background-color: gray;
    height: 50px;
    width: 130px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -30px;
    top: 290px;
    border: solid white;
   
}

.column5 {
    background-color: gray;
    height: 50px;
    width: 130px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -30px;
    top: 360px;
    border: solid white;
   
}


.column6 {
    background-color: gray;
    height: 50px;
    width: 130px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -30px;
    top: 430px;
    border: solid white;
   
}

.column7 {
    background-color: gray;
    height: 50px;
    width: 130px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -30px;
    top: 500px;
    border: solid white;
   
}


.column8 {
    background-color: gray;
    height: 50px;
    width: 130px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -30px;
    top: 570px;
    border: solid white;
   
}
