body {
    background-image: url(pizza.jpg);
    background-size: cover;
    position: absolute;
    background-position: center center;
    width: 100%;
    margin: 0px;
}

#pug {
    background-image: url(pugs.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: 70px 30px;
    height: 700px;
}

#home {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    top: 115px;
    left: 95px;
    position: absolute;
}


#eating {
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    top: 55px;
    left: 170px;
    position: absolute;
}



.column1 {
    background-color: gray;
    height: 150px;
    width: 200px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 150px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 150px;
    top: 80px;
    z-index: 6000;
    border: solid white;
}

.column1:hover {
    width: 350px;
    height: 250px;
    background-color: transparent;
    line-height: 250px;
    color: white;
}

.column1:active {
    background-position: -500px 0;

} 

.column2 {
    background-color: gray;
    height: 150px;
    width: 200px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 150px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 550px;
    top: 80px;
    z-index: 5000;
    border: solid white;
   
}

.column2:hover {
    width: 350px;
    height: 250px;
    background-color: transparent; 
    line-height: 250px;
    color: white;
}
.column3 {
    background-color: gray;
    height: 150px;
    width: 200px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 150px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 950px;
    top: 80px;
    z-index: 4000;
    border: solid white;
   
}

.column3:hover {
    width: 350px;
    height: 250px;
    background-color: transparent;
    line-height: 250px;
    color: white;
   
  
}
.column4 {
    background-color: gray;
    height: 150px;
    width: 200px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 150px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 150px;
    top: 350px;
    z-index: 3000;
    border: solid white;
   
}

.column4:hover {
    width: 350px;
    height: 250px;
    background-color: transparent;
    line-height: 250px;
    color: white;
    
}
.column5 {
    background-color: gray;
    height: 150px;
    width: 200px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 150px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 550px;
    top: 350px;
    z-index: 2000;
    border: solid white;
   
}

.column5:hover {
    width: 350px;
    height: 250px;
    background-color: transparent;
    line-height: 250px;
    color: white;
}

.column6 {
    background-color: gray;
    height: 150px;
    width: 200px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 150px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 950px;
    top: 350px;
    z-index: 1000;
    border: solid white;
   
}

.column6:hover {
    width: 350px;
    height: 250px;
    background-color: transparent;
    line-height: 250px;
    color: white;
}
.column7 {
    background-color: gray;
    height: 150px;
    width: 200px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 150px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 150px;
    top: 620px;
    z-index: 1000;
    border: solid white;
   
}

.column7:hover {
    width: 350px;
    height: 250px;
    background-color: transparent;
    line-height: 250px;
    color: white;
}
.column8 {
    background-color: gray;
    height: 150px;
    width: 200px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 150px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 550px;
    top: 620px;
    z-index: 1000;
    border: solid white;
   
}

.column8:hover {
    width: 350px;
    height: 250px;
    background-color: transparent;
    line-height: 250px;
    color: white;
}