body {
    background-color: #CB2E2E;
    background-size: cover;
    position: absolute;
    background-position: center center;
    width: 100%;
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
    cursor: auto;
}

h1 {
    font-size: 50px;
    width: 270px;
    height: 2150px;
    text-align: center;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    margin-bottom: -90px;
    margin-top: 50px;
    color: black;
    

}

#english {
	font-family: 'Dosis', sans-serif;
    font-size: 50px;
    font-weight: bolder;
 
}

#mukbang {
    background-image: url(mukbang.jpg);
    width: 1300px;
    height: 600px;
    top: 105px;
    left: 50px;
    position: absolute;
}
.column1 {
    height: 350px;
    width: 350px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    line-height: 350px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 6000;
    border-radius: 100%;
    background: black;
    border: solid white;

}

.column1:hover {
    width: 450px;
    height: 450px;
    line-height: 250px;
    color: black;
    border-radius: 100%;
    background-color: white;
    background-image: url(tiffany.png);

    
  
}

.column2 {
    height: 350px;
    width: 350px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    line-height: 350px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 800px;
    top: 100px;
    z-index: 6000;
    border-radius: 100%;
    background: black;
    border: solid white;


}

.column2:hover {
    width: 450px;
    height: 450px;
    line-height: 250px;
    color: black;
    background-color: white;
    border-radius: 100%;
    background-image: url(brendon.png);

}
.column3 {
    height: 350px;
    width: 350px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    line-height: 350px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 100px;
    top: 800px;
    z-index: 6000;
    border-radius: 100%;
    background: black;
    border: solid white;


}

.column3:hover {
    width: 450px;
    height: 450px;
    line-height: 550px;
    color: black;
    background-color: white;
    border-radius: 100%;
    background-image: url(angela.png);

}
.column4 {
    height: 350px;
    width: 350px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    line-height: 350px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 800px;
    top: 800px;
    z-index: 6000;
    border-radius: 100%;
    background: black;
    border: solid white;


}

.column4:hover {
    width: 450px;
    height: 450px;
    line-height: 550px;
    color: black;
    background-color: white;
    border-radius: 100%;
    background-image: url(taylor.png);

}
.column5 {
    height: 350px;
    width: 350px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    line-height: 350px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 100px;
    top: 1550px;
    z-index: 6000;
    border-radius: 100%;
    background: black;
    border: solid white;


}

.column5:hover {
    width: 450px;
    height: 450px;
    line-height: 250px;
    color: black;
    background-color: white;
    border-radius: 100%;
    background-image: url(sarah.png);
    
}
.column6 {
    height: 350px;
    width: 350px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    line-height: 350px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 800px;
    top: 1550px;
    z-index: 6000;
    border-radius: 100%;
    background: black;
    border: solid white;


}

.column6:hover {
    width: 450px;
    height: 450px;
    line-height: 250px;
    color: black;
    background-color: white;
    border-radius: 100%;
}