body {
    background-color: white;
    background-size: cover;
    position: absolute;
    background-position: center center;
    width: 100%;
    margin: 0px;
}

h1 {
    font-size: 50px;
    width: 100%;
    height: 480px;
    text-align: center;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    margin-bottom: -90px;
    margin-top: 250px;
    color: black;
    

}


#english {
	font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    font-size: 12pt;
    top: 20%;
    left: 50%;
    color: black;
 
}

#box1 {
    width: 5%;
    height: 5%;
    background-color: white;
    top: 10%;
    left: 10%;
    position: absolute;
    font color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 12pt;
}
#box2 {
    width: 5%;
    height: 5%;
    background-color: white;
    top: 10%;
    left: 30%;
    position: absolute;
    font color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 12pt;
}


