body {
    background-size: 200px 300px;
    background-repeat: no-repeat;
    background-position: 200px 200px;
    background-attachment: fixed;
    
}


a {
    background: gray;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    font-family: helvetica;
    margin: 19px;

}

div {
    height: 100vh;
    padding-top: 20px;
    font-size: 25px;
    font-family: helvetica;

}

#first {
    background: transparent;
    background-image: url(chipslice.png);
    background-size: 400px 350px;
    background-repeat: no-repeat;
    background-position: 522px 200px;
    background-attachment: fixed;

}

#second {
    background: transparent;
}

#third {
    background: transparent;
}

#fourth {
    background: transparent;
}

#fifth {
    background: transparent;
}

#top {
    position: fixed;
    bottom: 0;
    right: 0;
}

#potato {
    background-image: url(pot1.png);
    background-size: 200px 300px;
    background-repeat: no-repeat;
    background-position: 600px 200px;
    background-attachment: fixed;
    
}

#potato1 {
    background-image: url(potato.png);
    background-size: 357px 500px;
    background-repeat: no-repeat;
    background-position: 522px 105px;
    background-attachment: fixed;
}

#potato2 {
    background-image: url(potato2.png);
    background-size: 357px 500px;
    background-repeat: no-repeat;
    background-position: 522px 105px;
    background-attachment: fixed;

}

#potato3 {
    background-image: url(potato3.png);
    background-size: 357px 500px;
    background-repeat: no-repeat;
    background-position: 522px 105px;
    background-attachment: fixed;
}

#potato4 {
    background-image: url(potato5.png);
    background-size: 357px 500px;
    background-repeat: no-repeat;
    background-position: 522px 105px;
    background-attachment: fixed;

}


