body {
    background-size: 200px 300px;
    background-repeat: no-repeat;
    background-position: 200px 200px;
    background-attachment: fixed;
    
}


a {
    background: black;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    font-family: helvetica;

}

div {
    height: 100vh;
    padding-top: 20px;
    font-size: 25px;
    font-family: helvetica;

}

#first {
    background: transparent;

}

#second {
    background: transparent;
}

#third {
    background: transparent;
}

#fourth {
    background: transparent;
}

#fifth {
    background: transparent;
}

#top {
    position: fixed;
    bottom: 0;
    right: 0;
}

#potato {
    background-image: url(pot1.png);
    background-size: 200px 300px;
    background-repeat: no-repeat;
    background-position: 200px 200px;
    background-attachment: fixed;
    
}

#potato1 {
    background-image: url(potato.png);
    background-size: 357px 500px;
    background-repeat: no-repeat;
    background-position: 122px 105px;
    background-attachment: fixed;
}

#potato2 {
    background-image: url(potato2.png);
    background-size: 357px 500px;
    background-repeat: no-repeat;
    background-position: 122px 105px;
    background-attachment: fixed;

}

#potato3 {
    background-image: url(potato3.png);
    background-size: 357px 500px;
    background-repeat: no-repeat;
    background-position: 122px 105px;
    background-attachment: fixed;
}

#potato4 {
    background-image: url(potato4.png);
    background-size: 357px 500px;
    background-repeat: no-repeat;
    background-position: 122px 105px;
    background-attachment: fixed;

}

#potato5 {
    background-image: url(potato5.png);
    background-size: 357px 500px;
    background-repeat: no-repeat;
    background-position: 122px 105px;
    background-attachment: fixed;

}


