body {
    background-size: 200px 300px;
    background-repeat: no-repeat;
    background-position: 200px 200px;
    background-attachment: fixed;
    background-color: #E7E8D1;
    
}


a {
    background: transparent;
    padding: 10px 20px;
    color: black;
    font-size: 20px;
    font-family: helvetica;
    margin: 43px;
    font-weight: bold;

}

div {
    height: 100vh;
    padding-top: 20px;
    font-size: 25px;
    font-family: helvetica;

}
#scroll {
    font-size: 25px;
    font-weight: bolder;
    top: 13%;
    left: 43%;
    position: absolute;
}

#home {
    font-size: 20px;
    font-weight: bolder;
    top: 15px;
    left: 95px;
    position: absolute;
    text-decoration: underline;
}

#first {
    background: transparent;
    background-image: url(soakfries.jpg);
    background-size: 500px 355px;
    background-repeat: no-repeat;
    background-position: 522px 200px;
    background-attachment: fixed;

}

#second {
    background: transparent;
    background-image: url(pan.jpg);
    background-size: 500px 355px;
    background-repeat: no-repeat;
    background-position: 522px 200px;
    background-attachment: fixed;
}

#third {
    background: transparent;
    background-image: url(fryfries.jpg);
    background-size: 500px 355px;
    background-repeat: no-repeat;
    background-position: 522px 200px;
    background-attachment: fixed;
}

#fourth {
    background: transparent;
    background-image: url(sprinkle.jpg);
    background-size: 500px 355px;
    background-repeat: no-repeat;
    background-position: 522px 200px;
    background-attachment: fixed;
}

#fifth {
    background: transparent;
    background-image: url(finalfries.jpg);
    background-size: 500px 355px;
    background-repeat: no-repeat;
    background-position: 522px 200px;
    background-attachment: fixed;
}

#top {
    position: fixed;
    bottom: 0;
    right: 0;
}

#potato {
    background-image: url(pot1.png);
    background-size: 200px 300px;
    background-repeat: no-repeat;
    background-position: 600px 200px;
    background-attachment: fixed;
    
}

#potato1 {
    background-image: url(potato.png);
    background-size: 357px 500px;
    background-repeat: no-repeat;
    background-position: 522px 105px;
    background-attachment: fixed;
}

#potato2 {
    background-image: url(potato2.png);
    background-size: 357px 500px;
    background-repeat: no-repeat;
    background-position: 522px 105px;
    background-attachment: fixed;

}

#potato3 {
    background-image: url(potato3.png);
    background-size: 357px 500px;
    background-repeat: no-repeat;
    background-position: 522px 105px;
    background-attachment: fixed;
}

#potato4 {
    background-image: url(potato4.png);
    background-size: 357px 500px;
    background-repeat: no-repeat;
    background-position: 522px 105px;
    background-attachment: fixed;

}

#potato5 {
    background-image: url(potato5.png);
    background-size: 357px 500px;
    background-repeat: no-repeat;
    background-position: 522px 105px;
    background-attachment: fixed;

}

