body {
    background-image: url(potato.jpg);
    background-size: cover;
    position: absolute;
    background-position: center center;
    width: 100%;
    margin: 0px;
}

.column1 {
    background-color: transparent;
    height: 120px;
    width: 120px;
    transition: all 1s;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15pt;
    line-height: 120px;
    color: white;
    text-align: center;
    position: absolute;
    left: 70px;
    top: 150px;
 
}

.column1:hover {
    width: 120px;
    height: 120px;
    background-color: transparent;
    line-height: 120px;
    color: white;
}

.column2 {
    background-color: transparent;
    height: 120px;
    width: 120px;
    transition: all 1s;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15pt;
    line-height: 120px;
    color: white; 
    text-align: center;
    position: absolute;
    left: 340px;
    top: 150px;
     
}

.column2:hover {
    width: 120px;
    height: 120px;
    background-color: transparent;
    line-height: 120px;
    color: white;
}
.column3 {
    height: 170px;
    width: 170px;
    transition: all 1s;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15pt;
    line-height: 170px;
    color: white;
    text-align: center;
    position: absolute;
    background-color: transparent;
    left: 430px;
    top: 400px;
   
}

.column3:hover {
    width: 170px;
    height: 170px;
    background-color: transparent;
    line-height: 170px;
    color: white;
  
}
.column4 {
    background-color: transparent;
    height: 120px;
    width: 120px;
    transition: all 1s;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15pt;
    line-height: 120px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 600px;
    top: 30px;

}

.column4:hover {
    width: 120px;
    height: 120px;
    background-color: transparent;
    line-height: 120px;
    color: white;
    
}
.column5 {
    background-color: transparent;
    height: 120px;
    width: 120px;
    transition: all 1s;
    font-family: Helvetica, Arial, sans-serifo;
    font-weight: bold;
    font-size: 15pt;
    line-height: 120px;
    color: white;
    text-align: center;
    position: absolute;
    left: 650px;
    top: 500px;
   
}

.column5:hover {
    width: 120px;
    height: 120px;
    background-color: transparent;
    line-height: 120px;
    color: white;
}
.column6 {
    background-color: transparent;
    height: 120px;
    width: 120px;
    transition: all 1s;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15pt;
    line-height: 120px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 950px;
    top: 250px;
   
}

.column6:hover {
    width: 120px;
    height: 120px;
    background-color: transparent;
    line-height: 120px;
    color: white;
}


