body {
   background-color: black;
    width: 100%;
    margin: 0px;
   
}

h1{
    font-family: 'Short Stack', cursive;
    color: white;
    font-size: 50px;
    font-weight: lighter;
    position: absolute;
    left: 40%;
    top: 15%;
}

h3 {
	font-family: 'Short Stack', cursive;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    position: absolute;
    left: 25%;
    top: 30%;
    text-align: center;
    width: 50%

}

#home {
    font-family: 'Neucha', cursive;
    font-size: 30px;
    font-weight: bolder;
    top: 8%;
    left: 5%;
    position: absolute;
    color: white;
}
