.clock {
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 100%;
    position: relative;
    animation-name: myclock;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.seconds {
    width: 100px;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 98px;
    left: 100px;
    
    
}

@keyframes myclock {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
        
}