body {
   background-color: black;
    width: 100%;
    margin: 0px;
   
}

h1{
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 70px;
    position: absolute;
    left: 35%;
}

.column1 {
    background-color: white;
    height: 8%;
    width: 12%;
    transition: all 1s;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    font-size: 25px;
    line-height: 250%;
    color: black;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 28%;
    top: 10%;
    border: solid white;
}
.column1:hover {
    width: 12%;
    height: 8%;
    background-color: transparent; 
    line-height: 100%;
    border: solid black;
    color: white;
}


.column2 {
    background-color: white;
    height: 8%;
    width: 12%;
    transition: all 1s;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    font-size: 25px;
    line-height: 250%;
    color: black;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 28%;
    top: 20%;
    border: solid white;
   
}
.column2:hover {
    width: 12%;
    height: 8%;
    background-color: transparent; 
    line-height: 100%;
    border: solid black;
    color: white;
}
.column3 {
    background-color: white;
    height: 8%;
    width: 12%;
    transition: all 1s;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    font-size: 25px;
    line-height: 250%;
    color: black;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 28%;
    top: 30%;
    border: solid white;
}
.column3:hover {
    width: 12%;
    height: 8%;
    background-color: transparent; 
    line-height: 100%;
    border: solid black;
    color: white;
}

.column4 {
    background-color: white;
    height: 8%;
    width: 12%;
    transition: all 1s;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    font-size: 25px;
    line-height: 250%;
    color: black;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 28%;
    top: 40%;
    border: solid white;
}
.column4:hover {
    width: 12%;
    height: 8%;
    background-color: transparent; 
    line-height: 100%;
    border: solid black;
    color: white;
}
.column5 {
    background-color: white;
    height: 8%;
    width: 12%;
    transition: all 1s;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    font-size: 25px;
    line-height: 250%;
    color: black;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 45%;
    top: 10%;
    border: solid white;
}
.column5:hover {
    width: 12%;
    height: 8%;
    background-color: transparent; 
    line-height: 100%;
    border: solid black;
    color: white;
}

.column6 {
    background-color: white;
    height: 8%;
    width: 12%;
    transition: all 1s;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    font-size: 25px;
    line-height: 250%;
    color: black;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 45%;
    top: 20%;
    border: solid white;
}
.column6:hover {
    width: 12%;
    height: 8%;
    background-color: transparent; 
    line-height: 100%;
    border: solid black;
    color: white;
}
.column7 {
    background-color: white;
    height: 8%;
    width: 12%;
    transition: all 1s;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    font-size: 25px;
    line-height: 250%;
    color: black;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 45%;
    top: 30%;
    border: solid white;
}
.column7:hover {
    width: 12%;
    height: 8%;
    background-color: transparent; 
    line-height: 100%;
    border: solid black;
    color: white;
}

.column8 {
    background-color: white;
    height: 8%;
    width: 12%;
    transition: all 1s;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    font-size: 25px;
    line-height: 250%;
    color: black;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 45%;
    top: 40%;
    border: solid white;
}
.column8:hover {
    width: 12%;
    height: 8%;
    background-color: transparent; 
    line-height: 100%;
    border: solid black;
    color: white;
}
.column9 {
    background-color: white;
    height: 8%;
    width: 12%;
    transition: all 1s;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    font-size: 25px;
    line-height: 250%;
    color: black;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 28%;
    top: 50%;
    border: solid white;
}
.column9:hover {
    width: 12%;
    height: 8%;
    background-color: transparent; 
    line-height: 100%;
    border: solid black;
    color: white;
}
.column10 {
    background-color: white;
    height: 8%;
    width: 12%;
    transition: all 1s;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    font-size: 25px;
    line-height: 250%;
    color: black;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 28%;
    top: 60%;
    border: solid white;
}
.column10:hover {
    width: 12%;
    height: 8%;
    background-color: transparent; 
    line-height: 100%;
    border: solid black;
    color: white;
}
.column11 {
    background-color: white;
    height: 8%;
    width: 12%;
    transition: all 1s;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    font-size: 25px;
    line-height: 250%;
    color: black;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 45%;
    top: 50%;
    border: solid white;
}
.column11:hover {
    width: 12%;
    height: 8%;
    background-color: transparent; 
    line-height: 100%;
    border: solid black;
    color: white;
}
.column12 {
    background-color: white;
    height: 8%;
    width: 12%;
    transition: all 1s;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    font-size: 25px;
    line-height: 250%;
    color: black;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 45%;
    top: 60%;
    border: solid white;
}
.column12:hover {
    width: 12%;
    height: 8%;
    background-color: transparent; 
    line-height: 100%;
    border: solid black;
    color: white;
}