body {
    background-image: url(food.1.jpg);
    background-size: cover;
    position: absolute;
    background-position: center center;
    width: 100%;
    margin: 0px;
}

h1 {
    font-family: zapfino;
    font-size: 45px;
    width: 100%;
    text-align: center;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    margin: -.5em;
    
}

#english {
	font-family: zapfino;
    left: 45%;
    top: 0%;
    font-size: 45px;
 
}

#korean {
    font-family: zapfino;
    left: 45%;
    top: 0%;
    font-size: 45px;

}

a {
	color: black;
    text-decoration: none;
    cursor: auto;
}

