body {
    background-image: url(black.jpg);
    background-size: cover;
    position: absolute;
    background-position: center center;
}

h1 {
    font-family: zapfino;
    color: white;
    left: 45%;
    top: 3%;
    font-size: 35pt;
    line-height: 200px;
    text-align: center;
    margin: 100px;
    position: fixed;

}
h1 {
    font-family: zapfino;
    color: white;
    left: 55%;
    top: 3%;
    font-size: 35pt;
    line-height: 200px;
    text-align: center;
    margin: 100px;
    position: absolute;

}



.block {
  width:1350px;
  height:650px;
  margin:20px;
  padding:20px;
  display: inline-block;
  position: absolute;
}
