body {
    background-image: url(goodbad.jpg);
    background-size: cover;
    position: absolute;
    background-position: center center;
    width: 100%;
    margin: 0px;
}




.column1 {
    height: 350px;
    width: 530px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-size: 55px;
    line-height: 350px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -100px;
    top: -100px;
    z-index: 6000;
    background-color: black;

}
.column2 {
    height: 205px;
    width: 530px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-size: 55px;
    line-height: 350px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 450px;
    top: -100px;
    z-index: 6000;
    background-color: black;

}
.column3 {
    height: 365px;
    width: 740px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-size: 55px;
    line-height: 350px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -95px;
    top: 265px;
    z-index: 6000;
    background-color: white;

}

