body {
    background-image: url(black.jpg);
    background-size: cover;
    position: absolute;
    background-position: center center;
    width: 100%;
    margin: 0px;
}

div {
    width: 10px;
    height: 10px;
    background-color: red;
    position: relative;
    animation: mymove 5s infinite;
}



/* Standard syntax */
#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}
#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}



/* Standard syntax */
@keyframes mymove {
    from {left: 0px;}
    to {left: 700px;}
}



a {
	color: black;
    text-decoration: none;
    cursor: auto;
}
