body {
    background-image: url(black.jpg);
    background-size: cover;
    position: absolute;
    background-position: center center;
    width: 100%;
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
    cursor: auto;
}


div {
    width: 10px;
    height: 10px;
    background-color: red;
    position: relative;
    
    
}




#div1 {
    animation-timing-function: linear;
    background-color: #fc50ff;
    animation: mymove 6s infinite;

}
#div2 {
    animation-timing-function: ease;
    background-color: #7fb3e1;
    animation: one 8s infinite;

}
#div3 {
    animation-timing-function: ease-in;
    background-color: #cf0d00;
    animation: two 7s infinite;

}
#div4 {
    animation-timing-function: ease-out;
    background-color: #e8a400;
    animation: three 9s infinite;
}
#div5 {
    animation-timing-function: ease-in-out;
    background-color: #00c620;
    animation: four 10s infinite;
}
#div6 {
    animation-timing-function: linear;
    background-color: #00c620;
    animation: mymove 9s infinite;
}
#div7 {
    animation-timing-function: ease;
    background-color: #cf0d00;
    animation: one 7s infinite;
}
#div8 {
    animation-timing-function: ease-in;
    background-color: #e8a400;
    animation: two 8s infinite;
}
#div9 {
    animation-timing-function: ease-out;
    background-color: #7fb3e1;
    animation: three 6s infinite;

}
#div10 {
    animation-timing-function: ease-in-out;
    background-color: #fc50ff;
    animation: four 7s infinite;
}
#div11 {
    animation-timing-function: linear;
    background-color: #7fb3e1;
    animation: mymove 10s infinite;
}
#div12 {
    animation-timing-function: ease;
    background-color: #e8a400;
    animation: one 9s infinite;
}
#div13 {
    animation-timing-function: ease-in;
    background-color: #fc50ff;
    animation: two 6s infinite;
}
#div14 {
    animation-timing-function: ease-out;
    background-color: #00c620;
    animation: three 8s infinite;
}
#div15 {
    animation-timing-function: ease-in-out;
    background-color: #7fb3e1;
    animation: four 9s infinite;
}
#div16 {
    animation-timing-function: linear;
    background-color: #00c620;
    animation: mymove 10s infinite;
}
#div17 {
    animation-timing-function: ease;
    background-color: #7fb3e1;
    animation: one 6s infinite;
}
#div18 {
    animation-timing-function: ease-in;
    background-color: #cf0d00;
    animation: two 8s infinite;
}
#div19 {
    animation-timing-function: ease-out;
    background-color: #e8a400;
    animation: three 7s infinite;
}
#div20 {
    animation-timing-function: ease-in-out;
    background-color: #00c620;
    animation: four 9s infinite;
}
#div21 {
    animation-timing-function: linear;
    background-color: #fc50ff;
    animation: mymove 6s infinite;
}
#div22 {
    animation-timing-function: ease;
    background-color: #7fb3e1;
    animation: one 10s infinite;
}
#div23 {
    animation-timing-function: ease-in;
    background-color: #cf0d00;
    animation: two 8s infinite;
}
#div24 {
    animation-timing-function: ease-out;
    background-color: #e8a400;
    animation: three 7s infinite;
}
#div25 {
    animation-timing-function: ease-in-out;
    background-color: #00c620;
    animation: four 9s infinite;
}
#div26 {
    animation-timing-function: linear;
    background-color: #fc50ff;
    animation: mymove 8s infinite;
}
#div27 {
    animation-timing-function: ease;
    background-color: #7fb3e1;
    animation: one 6s infinite;
}
#div28 {
    animation-timing-function: ease-in;
    background-color: #cf0d00;
    animation: two 7s infinite;
}
#div29 {
    animation-timing-function: ease-out;
    background-color: #e8a400;
    animation: three 10s infinite;
}
#div30 {
    animation-timing-function: ease-in-out;
    background-color: #00c620;
    animation: four 6s infinite;

}
#div31 {
    animation-timing-function: linear;
    background-color: #fc50ff;
    animation: mymove 7s infinite;
}
#div32 {
    animation-timing-function: ease;
    background-color: #7fb3e1;
    animation: one 8s infinite;
}
#div33 {
    animation-timing-function: ease-in;
    background-color: #cf0d00;
    animation: two 9s infinite;
}
#div34 {
    animation-timing-function: ease-out;
    background-color: #e8a400;
    animation: three 10s infinite;
}
#div35 {
    animation-timing-function: ease-in-out;
    background-color: #00c620;
    animation: four 7s infinite;
}
#div36 {
    animation-timing-function: linear;
    background-color: #fc50ff;
    animation: mymove 6s infinite;
}
#div37 {
    animation-timing-function: ease;
    background-color: #7fb3e1;
    animation: one 10s infinite;
}
#div38 {
    animation-timing-function: ease-in;
    background-color: #cf0d00;
    animation: two 9s infinite;
}
#div39 {
    animation-timing-function: ease-out;
    background-color: #e8a400;
    animation: three 8s infinite;
}
#div40 {
    animation-timing-function: ease-in-out;
    background-color: #00c620;
    animation: four 6s infinite;
}
#div41 {
    animation-timing-function: linear;
    background-color: #fc50ff;
    animation: mymove 7s infinite;
}
#div42 {
    animation-timing-function: ease;
    background-color: #7fb3e1;
    animation: one 9s infinite;
}
#div43 {
    animation-timing-function: ease-in;
    background-color: #cf0d00;
    animation: two 10s infinite;
}
#div44 {
    animation-timing-function: ease-out;
    background-color: #e8a400;
    animation: three 8s infinite;
}
#div45 {
    animation-timing-function: ease-in-out;
    background-color: #00c620;
    animation: four 6s infinite;
}

#div46 {
    animation-timing-function: linear;
    background-color: #fc50ff;
    animation: mymove 7s infinite;
}
#div47 {
    animation-timing-function: ease;
    background-color: #7fb3e1;
    animation: one 10s infinite;
}
#div48 {
    animation-timing-function: ease-in;
    background-color: #cf0d00;
    animation: two 8s infinite;
}
#div49 {
    animation-timing-function: ease-out;
    background-color: #e8a400;
    animation: three 9s infinite;
}
#div50 {
    animation-timing-function: ease-in-out;
    background-color: #00c620;
    animation: four 7s infinite;
}

#div51 {
    animation-timing-function: linear;
    background-color: #fc50ff;
    animation: mymove 10s infinite;
}
#div52 {
    animation-timing-function: ease;
    background-color: #7fb3e1;
    animation: one 6s infinite;
}
#div53 {
    animation-timing-function: ease-in;
    background-color: #cf0d00;
    animation: two 9s infinite;
}
#div54 {
    animation-timing-function: ease-out;
    background-color: #e8a400;
    animation: three 8s infinite;
}
#div55 {
    animation-timing-function: ease-in-out;
    background-color: #00c620;
    animation: four 6s infinite;
}

#div56 {
    animation-timing-function: linear;
    background-color: #fc50ff;
    animation: mymove 7s infinite;
}
#div57 {
    animation-timing-function: ease;
    background-color: #7fb3e1;
    animation: one 10s infinite;
}
#div58 {
    animation-timing-function: ease-in;
    background-color: #cf0d00;
    animation: two 8s infinite;
}
#div59 {
    animation-timing-function: ease-out;
    background-color: #e8a400;
    animation: three 9s infinite;
}
#div60 {
    animation-timing-function: ease-in-out;
    background-color: #00c620;
    animation: four 5s infinite;
}
#div61 {
    animation-timing-function: linear;
    background-color: #fc50ff;
    animation: mymove 10s infinite;
}
#div62 {
    animation-timing-function: ease;
    background-color: #7fb3e1;
    animation: one 6s infinite;
}
#div63 {
    animation-timing-function: ease-in;
    background-color: #cf0d00;
    animation: two 9s infinite;
}
#div64 {
    animation-timing-function: ease-out;
    background-color: #e8a400;
    animation: three 8s infinite;
}
#div65 {
    animation-timing-function: ease-in-out;
    background-color: #00c620;
    animation: four 5s infinite;
}
#div66 {
    animation-timing-function: linear;
    background-color: #fc50ff;
    animation: mymove 9s infinite;
}
#div67 {
    animation-timing-function: ease;
    background-color: #7fb3e1;
    animation: one 10s infinite;
}
#div68 {
    animation-timing-function: ease-in;
    background-color: #cf0d00;
    animation: two 6s infinite;
}
#div69 {
    animation-timing-function: ease-out;
    background-color: #e8a400;
    animation: three 7s infinite;
}
#div70 {
    animation-timing-function: ease-in-out;
    background-color: #00c620;
    animation: four 8s infinite;
}




@keyframes mymove {
    from {left: 0px;}
    to {left: 700px;}
}


@keyframes one {
    from {left: 1450px;}
    to {left: 700px;}
}

@keyframes two {
    from {left: 0px;}
    to {left: 700px;}
}

@keyframes three {
    from {left: 1450px;}
    to {left: 700px;}
}

@keyframes four {
    from {left: 0px;}
    to {left: 700px;}
}


