body {
    background-image: url(black.jpg);
    background-size: cover;
    position: absolute;
    background-position: center center;
    width: 100%;
    margin: 0px;
}

div {
    height: 100vh;
    padding-top: 20px;
    font-size: 25px;
    font-family: helvetica;

}

#first {
    background-color: black;
    background-size: 1500px 1000px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-attachment: fixed;

}


#bad {
    background-size: 200px 300px;
    background-repeat: no-repeat;
    background-position: 600px 200px;
    background-attachment: fixed;
    
}
