body {
    background-image: url(spice.jpg);
    background-size: cover;
    position: absolute;
    background-position: center center;
    width: 100%;
    margin: 0px;
}

h1 {
    font-family: snell roundhand;
    font-size: 70px;
    width: 100%;
    text-align: center;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    margin-bottom: -90px;
    color: white;
    font-weight: lighter;

}

.column1 {
    background-color: #F64D1C;
    height: 90px;
    width: 170px;
    transition: all 1s;
    font-family: zapfino;
    font-weight: bold;
    font-size: 25px;
    line-height: 110px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 150px;
    top: 200px;
    z-index: 6000;
    background-image: url(hands.jpg);
    border: solid white;


}


.column2 {
    background-color: #F64D1C; 
    height: 90px;
    width: 170px;
    transition: all 1s;
    font-family: zapfino;
    font-weight: bold;
    font-size: 25px;
    line-height: 110px;
    color: white; 
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 550px;
    top: 200px;
    z-index: 5000;
    border: solid white;
    background-image: url(korean.jpg);
    
   
}


.column3 {
    background-color: #F64D1C;
    height: 90px;
    width: 170px;
    transition: all 1s;
    font-family: zapfino;
    font-weight: bold;
    font-size: 25px;
    line-height: 110px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 950px;
    top: 200px;
    z-index: 4000;
    border: solid white;
    background-image: url(chinese.jpg);
   
}

.column4 {
    background-color: #F64D1C;
    height: 90px;
    width: 170px;
    transition: all 1s;
    font-family: zapfino;
    font-weight: bold;
    font-size: 25px;
    line-height: 110px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 350px;
    top: 350px;
    z-index: 3000;
    border: solid white;
    background-image: url(mexican.jpg);
   
}


.column5 {
    background-color: #F64D1C;
    height: 90px;
    width: 170px;
    transition: all 1s;
    font-family: zapfino;
    font-weight: bold;
    font-size: 24px;
    line-height: 90px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 750px;
    top: 350px;
    z-index: 2000;
    border: solid white;
    background-image: url(indian.jpg);
   
}


