body {
   background-image: url(pizza.jpg);
    background-size: cover;
    position: absolute;
    background-position: center center;
    width: 100%;
    margin: 0px;
   
}

video {
    position: absolute;
    left: 700px;
    top: 130px;
    width: 650px;
    height: 550px;
}


#pug {
    background-image: url(pugs.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: 70px 30px;
    height: 130px;
}

#home {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    top: 115px;
    left: 95px;
    position: absolute;
}


#evening {
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    top: 55px;
    left: 170px;
    position: absolute;
}



.column1 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -2%;
    top: 60%;
    border: solid white;
}



.column2 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -2%;
    top: 115%;
    border: solid white;
   
}

.column3 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -2%;
    top: 170%;
    border: solid white;
   
}

.column4 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -2%;
    top: 225%;
    border: solid white;
   
}

.column5 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -2%;
    top: 280%;
    border: solid white;
   
}


.column6 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -2%;
    top: 330%;
    border: solid white;
   
}

.column7 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -2%;
    top: 385%;
    border: solid white;
   
}


.column8 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -2%;
    top: 440%;
    border: solid white;
   
}

.column9 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 9%;
    top: 60%;
    z-index: 1000;
    border: solid white;
   
}

.column10 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 9%;
    top: 115%;
    border: solid white;
   
}


.column11 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 9%;
    top: 170%;
    z-index: 1000;
    border: solid white;
   
}

.column12 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 9%;
    top: 225%;
    border: solid white;
   
}
.column13 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 9%;
    top: 280%;
    border: solid white;
   
}
.column14 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 9%;
    top: 335%;
    border: solid white;
   
}
.column15 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 9%;
    top: 385%;
    border: solid white;
   
}
.column16 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 9%;
    top: 440%;
    border: solid white;
   
}
.column17 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 20%;
    top: 60%;
    border: solid white;
   
}
.column18 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 20%;
    top: 115%;
    border: solid white;
   
}
.column19 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 20%;
    top: 170%;
    border: solid white;
   
}
.column20 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 20%;
    top: 225%;
    border: solid white;
   
}
