body {
    background-image: url(pizza.jpg);
    background-size: cover;
    position: absolute;
    background-position: center center;
    width: 100%;
    margin: 0px;
}

#pug {
    background-image: url(pugs.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: 70px 30px;
    height: 130px;
}

#home {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    top: 115px;
    left: 95px;
    position: absolute;
}


#time {
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    top: 55px;
    left: 170px;
    position: absolute;
}


.column1 {
    background-color: #E6E28F;
    height: 170%;
    width: 20%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 530%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 0%;
    top: 130%;
    z-index: 6000;
    border: solid white;
}

.column1:hover {
    height: 130%;
    width: 20%;
    background-color: transparent;
    line-height: 350%;
    color: white;
    border: solid black;
}


.column2 {
    background-color: #E6E28F;
    height: 170%;
    width: 20%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 530%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 33%;
    top: 130%;
    z-index: 5000;
    border: solid white;
}

.column2:hover {
    height: 130%;
    width: 20%;
    background-color: transparent;
    line-height: 350%;
    color: white;
    border: solid black;
}
.column3 {
    background-color: #E6E28F;
    height: 170%;
    width: 20%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 530%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 65%;
    top: 130%;
    z-index: 4000;
    border: solid white;
}

.column3:hover {
    height: 130%;
    width: 20%;
    background-color: transparent;
    line-height: 350%;
    color: white;
    border: solid black;
  
}


