body {
    background-image: url(pizza.jpg);
    background-size: cover;
    position: absolute;
    background-position: center center;
    width: 100%;
    margin: 0px;
}

#pug {
    background-image: url(pugs.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: 70px 30px;
    height: 700px;
}

#taylor {
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    top: 55px;
    left: 170px;
    position: absolute;
}

.column1 {
    height: 350px;
    width: 350px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-size: 55px;
    line-height: 350px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 5px;
    top: 80px;
    z-index: 6000;
    border: solid white;
    background-color: gray;

}

.column1:hover {
    width: 350px;
    height: 250px;
    line-height: 250px;
    color: white;
    border: solid black;
    background-image: url(pizza1.png);
}


.column2 {
    height: 350px;
    width: 350px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-size: 55px;
    line-height: 350px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 450px;
    top: 80px;
    z-index: 5000;
    border: solid white;
    background-color: gray;
}

.column2:hover {
    width: 350px;
    height: 250px;
    line-height: 250px;
    color: white;
    border: solid black;
    background-image: url(pizza2.jpg);
}

.column3 {
    height: 350px;
    width: 350px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-size: 55px;
    line-height: 350px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 890px;
    top: 80px;
    z-index: 4000;
    border: solid white;
    background-color: gray;

   
}

.column3:hover {
    width: 350px;
    height: 250px;
    line-height: 250px;
    color: white;
    border: solid black;
    background-image: url(pizza3.jpg);
  
}

