body {
    background-color: #CB2E2E;
    background-size: cover;
    position: absolute;
    background-position: center center;
    width: 100%;
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
    cursor: auto;
}

h1 {
    font-size: 50px;
    width: 270px;
    height: 0px;
    text-align: center;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    margin-bottom: -90px;
    margin-top: 50px;
    color: black;
    

}

#english {
	font-family: 'Dosis', sans-serif;
    font-size: 50px;
    font-weight: bolder;
 
}

#mukbang {
    background-image: url(mukbang.jpg);
    width: 1300px;
    height: 600px;
    top: 105px;
    left: 50px;
    position: absolute;
}

#end {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline;
    top: 65px;
    left: 1250px;
    position: absolute;
}

.column1 {
    height: 400px;
    width: 250px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    line-height: 350px;
    color: black;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 150px;
    top: 50px;
    z-index: 3000;
    background: white;
    border: solid black;

}

.column1:hover {
    width: 450px;
    height: 400px;
    line-height: 70px;
    color: black;
    background-image: url(thought1.png);


    
}
.column2 {
    height: 400px;
    width: 250px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    line-height: 350px;
    color: black;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 500px;
    top: 50px;
    z-index: 2000;
    background: white;
    border: solid black;

}

.column2:hover {
    width: 450px;
    height: 400px;
    line-height: 70px;
    color: black;
    background-image: url(learned1.png);

}
.column3 {
    height: 400px;
    width: 250px;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    line-height: 350px;
    color: black;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 850px;
    top: 50px;
    z-index: 1000;
    background: white;
    border: solid black;


}

.column3:hover {
    width: 450px;
    height: 400px;
    line-height: 70px;
    color: black;
    background-image: url(conclusion1.png); 
}


