body {
   background-color: black;
    width: 100%;
    margin: 0px;
   
}

.column1 {
    height: 200px;
    width: 200px;
    transition: all .7s;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
    line-height: 350px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 1%;
    top: 20%;
    z-index: 6000;
    border: solid white;


}

.column1:hover {
    width: 200px;
    height: 250px;
    line-height: 250px;
    font-size: 35px;
    color: white;
    border: solid black;
    background-color: #b3cde0;
    border: solid white;
}


.column2 {
    height: 200px;
    width: 200px;
    transition: all .7s;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
    line-height: 350px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 24%;
    top: 20%;
    z-index: 5000;
    border: solid white;
    
}

.column2:hover {
    width: 200px;
    height: 250px;
    line-height: 250px;
    font-size: 35px;
    color: white;
    border: solid white;
    background-color: #6497b1;
    
}

.column3 {
    height: 200px;
    width: 200px;
    transition: all .7s;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
    line-height: 350px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 47%;
    top: 20%;
    z-index: 4000;
    border: solid white;
  

   
}

.column3:hover {
    width: 200px;
    height: 250px;
    line-height: 250px;
    font-size: 35px;
    color: white;
    border: solid white;
    background-color: #005b96;
    
  
}
.column4 {
    height: 200px;
    width: 200px;
    transition: all .7s;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
    line-height: 350px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 70%;
    top: 20%;
    z-index: 4000;
    border: solid white;
    
   
}

.column4:hover {
    width: 200px;
    height: 250px;
    line-height: 250px;
    font-size: 35px;
    color: white;
    border: solid white;
    background-color: #011f4b;
  
}

