body {
    background-color: white;
    width: 100%;
    margin: 0px;
   
}

h1{
    font-family: 'Tenor Sans', sans-serif;
    color: black;
    font-size: 35px;
    font-weight: lighter;
    position: absolute;
    left: 47%;
    top: 3%;
}
h2{
    font-family: 'Tenor Sans', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: lighter;
    position: absolute;
    left: 79%;
    top: 13%;
}

#first{
    font-family: 'Tenor Sans', sans-serif;
    color: black;
    font-size: 18px;
    font-weight: lighter;
    position: absolute;
    left: 4%;
    top: 150%;
}

#second{
    font-family: 'Tenor Sans', sans-serif;
    color: black;
    font-size: 18px;
    font-weight: lighter;
    position: absolute;
    left: 4%;
    top: 154%;
}


#third{
    font-family: 'Tenor Sans', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: lighter;
    position: absolute;
    left: 2%;
    top: 258%;

}

#fourth{
    font-family: 'Tenor Sans', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: lighter;
    position: absolute;
    left: 2%;
    top: 262%;

}


#taylor1 {
    background-image: url(taylor1.jpg);
    width: 600px;
    height: 900px;
    top: 20%;
    left: 55%;
    position: absolute;
}

#taylor2 {
    background-image: url(taylor2.jpg);
    width: 700px;
    height: 860px;
    top: 30%;
    left: 4%;
    position: absolute;
}

#taylor3 {
    background-image: url(taylor3.jpg);
    width: 660px;
    height: 950px;
    top: 148%;
    left: 47%;
    position: absolute;
}

#taylor4 {
    background-image: url(taylor4.jpg);
    width: 500px;
    height: 660px;
    top: 165%;
    left: 6%;
    position: absolute;
}
