body {
    background-color: #6497b1;
    width: 100%;
    margin: 0px;
   
}

h1{
    font-family: 'Tenor Sans', sans-serif;
    color: white;
    font-size: 35px;
    font-weight: lighter;
    position: absolute;
    left: 47%;
    top: 3%;
}

#first{
    font-family: 'Tenor Sans', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    position: absolute;
    left: 42%;
    top: 60%;
}

#second{
    font-family: 'Tenor Sans', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    position: absolute;
    left: 46%;
    top: 64%;
}


#third{
    font-family: 'Tenor Sans', sans-serif;
    color: white;
    font-size: 23px;
    font-weight: lighter;
    position: absolute;
    left: 50%;
    top: 220%;

}

#fourth{
    font-family: 'Tenor Sans', sans-serif;
    color: white;
    font-size: 23px;
    font-weight: lighter;
    position: absolute;
    left: 47%;
    top: 224%;

}

#tj1 {
    background-image: url(tj1.JPG);
    width: 500px;
    height: 500px;
    top: 20%;
    left: 5%;
    position: absolute;
}

#tj2 {
    background-image: url(tj2.JPG);
    width: 700px;
    height: 900px;
    top: 75%;
    left: 43%;
    position: absolute;
}
#tj3 {
    background-image: url(tj3.JPG);
    width: 570px;
    height: 700px;
    top: 90%;
    left: 2%;
    position: absolute;
}

#tj4 {
    background-image: url(tj4.JPG);
    width: 450px;
    height: 600px;
    top: 187%;
    left: 11%;
    position: absolute;
}

