body {
  background: gray;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.column1 {
    background-color: a2adbc;
    height: 550px;
    width: 170px;
    transition: all 2s;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 200px;
    color: a2adbc;
    text-align: center;
    margin: 100px;
}

.column1:hover {
    width: 500px;
    height: 550px;
    background-color: a2adbc;
    line-height: 300px;
    color: white;
}
.column2 {
    background-color: cfc59c; 
    height: 550px;
    width: 150px;
    transition: all 2s;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 200px;
    color: cfc59c; 
    text-align: center;
   
}

.column2:hover {
    width: 500px;
    height: 550px;
    background-color: cfc59c; 
    line-height: 300px;
    color: white;
}
.column3 {
    background-color: black;
    height: 550px;
    width: 150px;
    transition: all 2s;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 200px;
    color: black;
    text-align: center;
   
}

.column3:hover {
    width: 500px;
    height: 550px;
    background-color: black;
    line-height: 300px;
    color: white;
}
.column4 {
    background-color: df9496;
    height: 550px;
    width: 150px;
    transition: all 2s;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 200px;
    color: df9496;
    text-align: center;
   
}

.column4:hover {
    width: 500px;
    height: 550px;
    background-color: df9496;
    line-height: 300px;
    color: white;
}
.column5 {
    background-color: A6E0EE;
    height: 550px;
    width: 150px;
    transition: all 2s;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 200px;
    color: A6E0EE;
    text-align: center;
   
}

.column5:hover {
    width: 500px;
    height: 550px;
    background-color: A6E0EE;
    line-height: 300px;
    color: white;
}
.column6 {
    background-color: a2adbc;
    height: 550px;
    width: 150px;
    transition: all 2s;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 200px;
    color: a2adbc;
    text-align: center;
   
}

.column6:hover {
    width: 500px;
    height: 550px;
    background-color: a2adbc;
    line-height: 300px;
    color: white;
}

