body {
  background: gray;
}
.column1 {
    background-color: #a2adbc;
    height: 550px;
    width: 170px;
    transition: all 1s;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15pt;
    line-height: 200px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 50px;
    top: 0px;
    z-index: 6;
    border: solid white;
    display: block;
    background-image: url('gif.gif');
    background-repeat: no-repeat;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
}

.column1:hover {
    width: 300px;
    height: 550px;
    background-color: #a2adbc;
    line-height: 300px;
    color: white;
    background-position: -250px 0;
}

.column1:active {
	background-position: -500px 0;

} 

.column2 {
    background-color: #cfc59c; 
    height: 550px;
    width: 170px;
    transition: all 1s;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15pt;
    line-height: 200px;
    color: white; 
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 240px;
    top: 0px;
    z-index: 5;
    border: solid white;
    display: block;
    background-image: url('gif2.gif');
    background-repeat: no-repeat;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;

}

.column2:hover {
    width: 300px;
    height: 550px;
    background-color: #cfc59c; 
    line-height: 300px;
    color: white;
    background-position: -250px 0;
}

.column2:active {
	background-position: -500px 0;

} 
.column3 {
    background-color: black;
    height: 550px;
    width: 170px;
    transition: all 1s;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15pt;
    line-height: 200px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 430px;
    top: 0px;
    z-index: 4;
    border: solid white;
    display: block;
    background-image: url('gif3.gif');
    background-repeat: no-repeat;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
   
}

.column3:hover {
    width: 300px;
    height: 550px;
    background-color: black;
    line-height: 300px;
    color: white;
    background-position: -250px 0;
  
}

.column3:active {
	background-position: -500px 0;

} 
.column4 {
    background-color: #df9496;
    height: 550px;
    width: 170px;
    transition: all 1s;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15pt;
    line-height: 200px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 620px;
    top: 0px;
    z-index: 3;
    border: solid white;
    display: block;
    background-image: url('gif4.gif');
    background-repeat: no-repeat;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
   
}

.column4:hover {
    width: 300px;
    height: 550px;
    background-color: #df9496;
    line-height: 300px;
    color: white;
    background-position: -250px 0;
    
}
.column4:active {
	background-position: -500px 0;

}
.column5 {
    background-color: #6c7b82;
    height: 550px;
    width: 170px;
    transition: all 1s;
    font-family: Helvetica, Arial, sans-serifo;
    font-weight: bold;
    font-size: 15pt;
    line-height: 200px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 810px;
    top: 0px;
    z-index: 2;
    border: solid white;
    display: block;
    background-image: url('gif5.gif');
    background-repeat: no-repeat;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
   
}

.column5:hover {
    width: 300px;
    height: 550px;
    background-color: #6c7b82;
    line-height: 300px;
    color: white;
    background-position: -250px 0;
}
.column5:active {
	background-position: -500px 0;

}

.column6 {
    background-color: #2D2C2C;
    height: 550px;
    width: 170px;
    transition: all 1s;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15pt;
    line-height: 200px;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 1000px;
    top: 0px;
    z-index: 1;
    border: solid white;
    display: block;
    background-image: url('gif6.gif');
    background-repeat: no-repeat;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
   
}

.column6:hover {
    width: 300px;
    height: 550px;
    background-color: #2D2C2C;
    line-height: 300px;
    color: white;
    background-position: -250px 0;
}

.column6:active {
	background-position: -500px 0;

}
