body {
  margin: 0;
  background-color: #3A310D;

}

.wrapper {
  margin: 0 auto;
  width: 800px;
  font-size: 0;
  letter-spacing: 0;
  
}

.column {
  width:300px;
  height:300px;
  margin:20px;
  padding:20px;
  float:left;
  background-color: #CFC59C;
  font-family: sans-serif;

  
}