body {
    background-color: gray;
    margin: 0;
    
}   

.button {
    display: block;
    width: 250px;
    height: 250px;
    background-image: url('happiness.gif');
    background-repeat: no-repeat;
    overflow:hidden;
    text-indent:100%;
    white-space: nowrap;
    position: fixed;
    left: 40%;
    top: 35%;
    
 
}
 
.button:hover {
	background-position: -250px 0;

}

.button:active {
	background-position: -500px 0;

} 
    

.circle {
	width: 250px;
	height: 250px;
	background-color: 2A2406;
	border-radius: 150px;
	display: block;
    background-image: url('chocolate.gif');
    background-repeat: no-repeat;
    overflow:hidden;
    text-indent:100%;
    white-space: nowrap;
    position: fixed;
	left: 5%;
	top: 63%;
}

.circle:hover {
	background-position: -250px 0;

}

.triangle {
	border-bottom: none;
	border-top: 300px solid black;
	border-right: 210px solid transparent;
	border-left: 210px solid transparent;
	width:0;
	position: fixed;
	left: 70%;
	top: 40%;
	display: block;
    background-image: url('icecream.gif');
    background-repeat: no-repeat;
    overflow:hidden;
    text-indent:100%;
    white-space: nowrap;
	
}

.star-five {
   margin: 50px 0;
   position: relative;
   display: block;
   color: white;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid white;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
    
}

.star-five:before {
   border-bottom: 80px solid white;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
   
}

.star-five:after {
   position: absolute;
   display: block;
   color: white;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid white;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
   
}

.diamond {
    width: 0;
	height: 0;
	border: 70px solid transparent;
	border-bottom-color: pink;
	position: fixed;
	left: 79%;
	top: -5px;
}

.diamond:after {
	content: '';
	position: absolute;
	left: -70px;
	top: 70px;
	width: ;
	height: 0;
	border: 70px solid transparent;
	border-top-color: pink;
	
	
}


