
h1 {
    font-family: Zapfino;
    position: fixed;
    
    
    
}

.clock {
    width: 200px;
    height: 200px;
    background-color: 727b84;
    border-radius: 100%;
    position: relative;
    animation-name: myclock;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: fixed;
	left: 18.5%;
	top: 40%;
}

.seconds {
    width: 100px;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 98px;
    left: 100px;
    
    
}

@keyframes myclock {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
        
}

.clock1 {
    width: 100px;
    height: 100px;
    background-color: df9496;
    border-radius: 100%;
    position: relative;
    animation-name: myclock;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: fixed;
	left: 1%;
	top: 47%;
}

.seconds1 {
    width: 50px;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 50px;
    left: 1px;
    
    
}

@keyframes myclock {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
        
}


.clock2 {
    width: 150px;
    height: 150px;
    background-color: f6f4da;
    border-radius: 100%;
    position: relative;
    animation-name: myclock;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: fixed;
	left: 8%;
	top: 43%;
}

.seconds2 {
    width: 70px;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 70px;
    left: 1px;
    
    
}

@keyframes myclock {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
        
}

.clock3 {
    width: 390px;
    height: 390px;
    background-color: d9e2e1;
    border-radius: 100%;
    position: relative;
    animation-name: myclock;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: fixed;
	left: 71%;
	top: 25%;
	background-color: d9e2e1;
    height: 400px;
    width: 400px;
    border-radius: 100%;
    transition: all 3s;
   
}

.clock3:hover {
    width: 415px;
    height: 415px;
    background-color: 535B5D;
    line-height: 300px;
    color: white;
}

.seconds3 {
    width: 200px;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 200px;
    left: 1px;

}

@keyframes myclock {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
        
}

.clock4 {
    width: 300px;
    height: 300px;
    background-color: a2adbc;
    border-radius: 100%;
    position: relative;
    animation-name: myclock;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: fixed;
	left: 50%;
	top: 34%;
}

.seconds4 {
    width: 150px;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 150px;
    left: 1px;

}

@keyframes myclock {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
        
}

.clock5 {
    width: 250px;
    height: 250px;
    background-color: dad8d0;
    border-radius: 100%;
    position: relative;
    animation-name: myclock;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: fixed;
	left: 32.5%;
	top: 37%;
}

.seconds5 {
    width: 130px;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 130px;
    left: 1px;

}

@keyframes myclock {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
        
}

