body {
    background-color: #2D2C2C;
    position: absolute;
}



.dot {
    width: .5px;
    height: .5px;
    background-color: black;
    border-radius: 12%;
    margin: 35px;
    display: inline-block;
    
  
}

.whatever { 
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 20%;
    border: 10px solid white;
    
}

.point{ 
    background-color: pink;
    width: 100px;
    height: 100px;
    border-radius: 20%;
    border: 30px solid white;
}

.what{ 
    background-color: pink;
    width: 100px;
    height: 100px;
    border-radius: 20%;
    
}