body {
    background-image: url(dont.jpg);
    background-size: cover;
    background-position: center center;
    
}

h1 {
    color: white;
    font-family: snell roundhand;
    position: fixed;
    left: 30%;
    top: 60%;
    
}