body {
   background-image: url(pizza.jpg);
    background-size: cover;
    position: absolute;
    background-position: center center;
    width: 100%;
    margin: 0px;
   
}

video {
    position: absolute;
    left: 700px;
    top: 130px;
    width: 650px;
    height: 550px;
}


#pug {
    background-image: url(pugs.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: 70px 30px;
    height: 130px;
}

#home {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    top: 115px;
    left: 95px;
    position: absolute;
}


#days {
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    top: 55px;
    left: 170px;
    position: absolute;
}



.column1 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -2%;
    top: 60%;
    border: solid white;
}
.column1:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}


.column2 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -2%;
    top: 115%;
    border: solid white;
   
}
.column2:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}

.column3 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -2%;
    top: 170%;
    border: solid white;
   
}
.column3:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column4 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -2%;
    top: 225%;
    border: solid white;
   
}
.column4:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}

.column5 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -2%;
    top: 280%;
    border: solid white;
   
}
.column5:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}

.column6 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -2%;
    top: 330%;
    border: solid white;
   
}
.column6:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column7 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -2%;
    top: 385%;
    border: solid white;
   
}
.column7:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}

.column8 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: -2%;
    top: 440%;
    border: solid white;
   
}
.column8:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column9 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 9%;
    top: 60%;
    z-index: 1000;
    border: solid white;
   
}
.column9:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column10 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 9%;
    top: 115%;
    border: solid white;
   
}
.column10:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}

.column11 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 9%;
    top: 170%;
    z-index: 1000;
    border: solid white;
   
}
.column11:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column12 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 9%;
    top: 225%;
    border: solid white;
   
}
.column12:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column13 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 9%;
    top: 280%;
    border: solid white;
   
}
.column13:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column14 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 9%;
    top: 335%;
    border: solid white;
   
}
.column14:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column15 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 9%;
    top: 385%;
    border: solid white;
   
}
.column15:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column16 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 9%;
    top: 440%;
    border: solid white;
   
}
.column16:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column17 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 20%;
    top: 60%;
    border: solid white;
   
}
.column17:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column18 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 20%;
    top: 115%;
    border: solid white;
   
}
.column18:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column19 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 20%;
    top: 170%;
    border: solid white;
   
}
.column19:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column20 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 20%;
    top: 225%;
    border: solid white;
   
}
.column20:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column21 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 20%;
    top: 280%;
    border: solid white;
   
}
.column21:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}

.column22 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 20%;
    top: 335%;
    z-index: 1000;
    border: solid white;
   
}
.column22:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column23 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 20%;
    top: 385%;
    border: solid white;
   
}
.column23:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column24 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 20%;
    top: 440%;
    border: solid white;
   
}
.column24:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column25 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 31%;
    top: 60%;
    border: solid white;
   
}
.column25:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column26 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 31%;
    top: 115%;
    border: solid white;
   
}
.column26:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column27 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 31%;
    top: 170%;
    border: solid white;
   
}
.column27:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column28 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 31%;
    top: 225%;
    border: solid white;
   
}
.column28:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column29 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 31%;
    top: 280%;
    border: solid white;
   
}
.column29:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
.column30 {
    background-color: gray;
    height: 35%;
    width: 9%;
    transition: all 1s;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: white;
    text-align: center;
    margin: 100px;
    position: absolute;
    left: 31%;
    top: 335%;
    border: solid white;
   
}
.column30:hover {
    width: 9%;
    height: 35%;
    background-color: transparent; 
    line-height: 40%;
    border: solid black;
    color: black;
}
